
.view-id-manage_media_view .media {
  padding: 2%;
}

.view-id-manage_media_view .media img {
  max-width: 100%;
  height: auto;
}

.view-id-manage_media_view .views-col {
  width: 50% !important;
}

.view-id-manage_media_view .media {
  position: relative;
  line-height: 0;
  vertical-align: middle;
}

.view-id-manage_media_view .media-documents .media-document-title {
  position: absolute;
  width: auto;
  top: auto;
  left: 15px;
  right: 15px;
  bottom: 15px;
  line-height: 140%;
  text-align: center;
}

.view-id-manage_media_view .media .media-admin-actions {
  position: absolute;
  top: 2%;
  right: 2%;
  bottom: 2%;
  left: 2%;
  line-height: 100%;
  background: rgba(0,0,0,0.6);
  text-align: center;
  font-size: 15px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.view-id-manage_media_view .media .media-admin-actions .media-admin-actions-inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 75px;
  margin-top: -37px;
}

.view-id-manage_media_view .media:hover .media-admin-actions {
  opacity: 1;
}

.view-id-manage_media_view .media .media-admin-actions a {
  color: white;
  display: block;
  line-height: 25px;
  vertical-align: middle;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 200;
  height: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (min-width: 40em) {
  .view-id-manage_media_view .views-col {
    width: 20% !important;
  }

  .view-id-manage_media_view .views-col .media-documents {
    height: 20%;
  }
}