{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>

  {% if content %}
    {% if not content.field_image %}
      <img src="{{ document_img }}" alt="Dokument" />
      <div class="media-document-title">{{ content }}</div>
    {% else %}
      {{ content }}
    {% endif %}
  {% endif %}

  {% if attributes['data-quickedit-entity-id'] %}
    <div class="media-admin-actions">
      <div class="media-admin-actions-inner">
        <a href="{{ path('entity.media.canonical', {media: elements['#media'].mid[0].value}) }}">{{ 'View'|t }}</a>
        <a href="{{ path('entity.media.edit_form', {media: elements['#media'].mid[0].value}) }}">{{ 'Edit'|t }}</a>
        <a href="{{ path('entity.media.delete_form', {media: elements['#media'].mid[0].value}) }}">{{ 'Delete'|t }}</a>
      </div>
    </div>
  {% endif %}
</article>
